snippet isoD "Iso Date YYYY-MM-DD" 
`!p import datetime
snip.rv=datetime.date.today().strftime('%Y-%m-%d')`
endsnippet

snippet isoDT "Iso Date time YYYY-MM-DD HH:MM:SS"
`!p 
import datetime
snip.rv=datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S')`
endsnippet
