snippet rf "Figure reference" !
Figure~\ref{fig:$1}
endsnippet

snippet req "Equation reference" !
Equation~\eqref{eq:$1}
endsnippet

snippet align "align environemt" !b
\begin{align}
    $1
\end{align}
endsnippet
